@page "/mypage"
@inherits MyPageBase

<PageHeader>
    <PageHeaderAvatar>
        <Avatar Src="https://avatars0.githubusercontent.com/u/22736418?s=88&v=4" />
    </PageHeaderAvatar>
    <PageHeaderTitle>@Title</PageHeaderTitle>
    <PageHeaderTags>
        <Tag Color="blue">Rank 0</Tag>
    </PageHeaderTags>
    <PageHeaderExtra>
        <Button Class="button is-primary">Submit</Button>
    </PageHeaderExtra>
</PageHeader>