@page "/settings"
@inherits SettingsBase

<PageHeader>
    <PageHeaderTitle>
        Settings
    </PageHeaderTitle>
</PageHeader>
选择语言
<QRSpace.Client.Components.CultureSelector></QRSpace.Client.Components.CultureSelector>
<h1>在做了在做了</h1>
